body {
    display: grid;
    place-content: center;
}

.card ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.head {
    display: flex;
    justify-content: space-between;
}

.bold {
    font-weight: bold;
}

.isDay {
    background-image: url(./images/day.jpg);
    background-position: center;
}

.isNight {
    background-image: url(./images/night.jpg);
    background-position: center;
    color: white;
}

td {
    border: 1px solid;
}